<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Testing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5399.28277" newVersion="1.0.5399.28277" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="CloudServiceName" value="CisService-33EAJQE4VGWML2PSIAT7U3KOGHVJ2DKDDXADFR53C7USERSOFOCQ-west-us" />
    <add key="ResourceName" value="OneSDKResource" />
    <add key="ResourceId" value="7889024677283592981" />
    <add key="ResourceNamespace" value="WACiSIntD2" />
    <add key="CisStampId" value="c1c734fd-54e9-479c-991c-5cc7b1401e52" />
  </appSettings>
</configuration>